.landing-page-container {
    background-color: #ffffff;
}
.landing-page-header {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    min-height: 80px;
    background-color: #333545;
}